<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>antiyoy</title>
        <link href="static/styles/style.css?u={{ last_updated }}" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="static/icon.png?u={{ last_updated }}"/>
    </head>
    <body>
        <header>
            <h1>ANTIYOY</h1>
        </header>
        <main>
            <div style="text-align: center">
                <canvas id="canvas"></canvas>
            </div>
            <script src="static/scripts/script.js?u={{ last_updated }}" field="{{ field }}"></script>
        </main>
    </body>
</html>